
.note-line{
    border-bottom: 1px solid #aaa;
    position: relative;
    height: 18px;
    clear: both;
    padding: 2px 0px;  
}

.note-line:hover{
    background-color: #eee;
    cursor: pointer;
}

.grey-text {
    color: #777;
    width: 20em;
}

.black-text {
    color: black;
    width: 10em;
}
.red-text{
    color: red;
}

span.image-C, span.image-R{
    font-family: sans-serif;
    display: block;
    background: url('../img/balloon.png') no-repeat !important; 
    width: 16px;
    height: 16px;
}

span.image-V{
    font-family: sans-serif;
    display: block;
    background: url('../img/thumb-up.png') no-repeat !important;
    width: 16px;
    height: 16px;
}

span.image-U, .image-A{
    font-family: sans-serif;
    display: block;
    background: url('../img/robot.png') no-repeat !important;
    width: 16px;
    height: 16px;
}  
    



