.task-header {
    margin: 0px;
}
div.assignment-header {
    padding-top: 2em;
}

.note-line{
    border-bottom: 1px solid #aaa;
    position: relative;
    height: 18px;
    clear: both;
    padding: 2px 0px;
}

.note-line:hover{
    background-color: #ddd;
    cursor: pointer;
}

.note-line.unseen:hover{
    background-color: #ddd !important;
}

.task-list {
    margin-bottom: 18px;
}
.task-line {
    border-bottom: 1px solid #aaa;
    position: relative;
    height: 18px;
    clear: both;
    padding: 2px 0px;
}
.add-new-assignment {
    font-size: small;
    display: block;
    float: right;
    padding: 0px 5px;
}
.task-line:hover {
    background-color: #eee;
    cursor: pointer;
}
.assignment-line {
    border-bottom: 1px solid #aaa;
    position: relative;
    height: 18px;
    clear: both;
    padding: 2px 0px;
}

.submission-line {
    border-bottom: 1px solid #aaa;
    position: relative;
    height: 18px;
    clear: both;
    padding: 2px 0px;
}

.submission-line:hover {
    background-color: #eee;
    cursor: pointer;
}

.new.task-line {
    font-weight: bold;
}

.chunk-name {
    display: block;
    position: absolute;
    width: 25em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.task-snippet {
    display: block;
    color: #777;
    font-family: monospace;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 25em;
    clear: none;
}

.submit-assignment {
    display: block;
    color: black;
    font-family: monospace;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    clear: right;
    margin-right: 4px;
}

.task-stats {
    display: block;
    float: right;
    padding: 0px 5px;
}

.progress{
    display: none;
}

.comment-count {
    display: inline;
    background-image: url('../img/balloon.png');
    background-repeat: no-repeat;
    height: 16px;
    padding-left: 18px;
    margin-right: 4px;
}

.reviewer-count {
    display: inline;
    background-image: url('../img/user-silhouette.png');
    background-repeat: no-repeat;
    height: 16px;
    padding-left: 18px;
}

.robot-count {
    display: inline;
    background-image: url('../img/robot.png');
    background-repeat: no-repeat;
    height: 16px;
    padding-left: 18px;
}

table.current-assignment {
    margin-bottom: 2em;
    border-collapse: collapse;
}

.history{
    color: #0E6996;
    cursor: pointer;
}

.history-submissions{
    color: #0E6996;
    cursor: pointer;
}

.grey-text {
    color: #777;
    width: 20em;
}

.black-text {
    color: black;
    width: 10em;
}

.red-text{
    color: red;
}

.assignment-line {
    border-bottom: 1px solid #aaa;
}

.instructions {
    background-color: #e6efc2;
    color: #333;
    font-weight: normal;
    font-size: 1em;
    text-shadow: none;
}

.slack-content * {
    display: inline-block;
    font-size: 1em;
}

.slack-content .bar:last-child {
    display: none;
}

.slack-left {
    margin: 0px;
}

span.image-C, span.image-R{
    font-family: sans-serif;
    display: block;
    background: url('../img/balloon.png') no-repeat !important;
    width: 16px;
    height: 16px;
}

span.image-V-plus{
    font-family: sans-serif;
    display: block;
    background: url('../img/thumb-up.png') no-repeat !important;
    width: 16px;
    height: 16px;
}

span.image-V-minus{
    font-family: sans-serif;
    display: block;
    background: url('../img/thumb-down.png') no-repeat !important;
    width: 16px;
    height: 16px;
}

span.image-U, .image-A{
    font-family: sans-serif;
    display: block;
    background: url('../img/robot.png') no-repeat !important;
    width: 16px;
    height: 16px;
}

.recent-activity-header {
    text-align: left;
    display: inline-block;
    width: 91%;
    margin-bottom: 0px;
}

.recent-activity-small-header {
    margin: 0px;
}

.all-activity-link {
    text-align: right;
    display: inline-block;
}

.note-activity{
    width: 20%;
}

.note-on-what{
    width: 18%;
    text-align: right;
}

.align-left {
    float: left;
    text-align: left;
}

.align-right {
    float: right;
    text-align: right;
}

.upload-header {
    text-align: left;
    display: inline-block;
    width: 91%;
    margin-bottom: 0px;
}

.upload-small-header {
    margin: 0px;
}

.submit-code {
    width: 600px;
    height: 430px;
}



/*Shitty Tabs CSS*/

ul#tabs { 
    list-style-type: none; 
    margin: 30px 0 0 0 !important; 
    padding: 0 0 0.3em 0 !important; 
}
ul#tabs li { 
    display: inline; 
}
.innerTab { 
    color: #42454a; 
    background-color: #dedbde; 
    border: 1px solid #c9c3ba !important; 
    border-bottom: none !important; 
    padding: 0.3em !important; 
    text-decoration: none; 
}
.innerTab:hover { 
    background-color: #f1f0ee !important; 
}

div.tabContent { 
    border-top-color: #f1f0ee;
    border-top-style: solid;
    border-top-width: 1px;
    padding: 0.5em;  
}

