{% extends "base.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/activity.css" type="text/css" />
{% endblock %}

{% block js %}
{{ block.super }}
<script>

<!-- TODO: javascript stuff here -->

</script>
{% endblock %}

{% block breadcrumbs %}
  <a class="breadcrumb first-breadcrumb" href="{% url 'dashboard.views.dashboard' %}">Dashboard</a>
{% endblock %}

{% block secondary-toolbar %}
{% include "dashboard/dashboard_toolbar.html" %}
{% endblock %}


{% block content %}

<!-- TODO: html stuff here -->

{% endblock %}