{% extends "base.html" %}
{% load extra_tags %}

{% block css %}
{{ block.super }}

<link rel="stylesheet" href="{{ STATIC_URL }}css/dashboard.css" type="text/css" />
{% endblock %}

{% block js %}
{{ block.super }}
<script>

//$(document).ready(function() {
//    $('.code-submit').click(function(e){
//        var milestone_name = $('.milestone-name')[0].value;
//        var code = $('.submit-code')[0].value;
//        $.post(caesar.urls.submit_code_upload, {milestone_name: milestone_name, code: code,} );
//        window.open ("//chunks/view/" + chunk_id);
//        return false;
//    });
//})

</script>
{% endblock %}

{% block breadcrumbs %}
  <a class="breadcrumb first-breadcrumb" href="{% url 'dashboard.views.dashboard' %}">Dashboard</a>
  <span class="breadcrumb">code upload</span>
{% endblock %}

{% block secondary-toolbar %}
{% include "dashboard/dashboard_toolbar.html" %}
{% endblock %}

{% block content %}

<h2 class='upload-header'> code upload for personal use </h2>
<h3 class='upload-small-header'>paste code in the text field below</h3>

<form method="post" action="{% url 'dashboard.views.submit_code_upload' %}">
    {% csrf_token %}
    File name: <input type="text" name="title"> <br>
    <textarea type="text" name="code" class='submit-code'></textarea> <br>
    <input type="submit" name="Submit"><br>
</form>
{% endblock %}
